<ion-view title="ReDrive" cache-view="false" id="page4" style="background-color:#7ECC4B;">
  <ion-content padding="true" class="has-header" ng-controller="loginCtrl">
    <form id="login-form1" class="list" ng-submit="login()">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Username" ng-model="username" required autocomplete="off">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="password" required autocomplete="off">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <ion-radio ng-model="role" id="login-radio1" name="Role_type" ng-value="'dealer'" ng-required="true">Login as Dealer</ion-radio>
      <ion-radio ng-model="role" id="login-radio2" name="Role_type" ng-value="'buyer'" ng-required="true">Login as Buyer</ion-radio>
      <!--<a ui-sref="d_Menu.home()" id="login-button1" class="button button-stable button-block">Log in</a>-->
      <button type="submit" id="login-button1" class="button button-stable button-block">Log in</button>
      <a ui-sref="signup()" id="login-button2" style="color:#070706;" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
