<ion-view title="Preferences" id="c_page3" style="background-color:#7ECC4B;">
  <ion-content padding="true" class="has-header">
    <form id="preferences-form2" class="list">
      <label class="item item-input" id="preferences-input3">
        <span class="input-label">Make</span>
        <input type="text" placeholder="" value="BMW">
      </label>
      <label class="item item-input" id="preferences-input4">
        <span class="input-label">Model</span>
        <input type="text" placeholder="" value="Any">
      </label>
      <label class="item item-input" id="preferences-input5">
        <span class="input-label">Max Age</span>
        <input type="text" placeholder="" value="7">
      </label>
	  <label class="item item-input" id="preferences-input5">
        <span class="input-label">Miles</span>
        <input type="text" placeholder="" value="15000">
      </label>
      <label class="item item-input" id="preferences-input6">
        <span class="input-label">Budget</span>
        <input type="text" placeholder="" value="$30,000">
      </label>
      <label class="item item-input" id="preferences-input7">
        <span class="input-label">Car Type</span>
        <input type="text" placeholder="" value="SUV">
      </label>
      <label class="item item-input" id="preferences-input9">
        <span class="input-label">Location</span>
        <input type="text" placeholder="" value="San Joes">
      </label>
    </form>
    <div id="preferences-button-bar3" class="button-bar">
      <a ui-sref="menu.customer_Home()" id="preferences-button18" class="button button-stable button-block">SAVE</a>
      <a ui-sref="menu.customer_Home()" id="preferences-button19" class="button button-royal button-block">CANCEL</a>
    </div>
  </ion-content>
</ion-view>
