<ion-view title="Settings" id="page3" style="background-color:#7ECC4B;">
  <ion-content padding="true" class="has-header">
    <h4 id="settings-heading1" style="color:#000000;">Contact Info</h4>
    <form id="settings-form3" class="list">
      <label class="item item-input" id="settings-input6">
        <span class="input-label">Name</span>
        <input type="text" placeholder="" value="Ed Payne Motors">
      </label>
      <label class="item item-input" id="settings-input7">
        <span class="input-label">Address</span>
        <input type="text" placeholder="" value="8601 Ranch Road 2222">
      </label>
      <label class="item item-input" id="settings-input8">
        <span class="input-label">City</span>
        <input type="text" placeholder="" value="Texas">
      </label>
      <label class="item item-input" id="settings-input9">
        <span class="input-label">State</span>
        <input type="text" placeholder="" value="Austin">
      </label>
      <label class="item item-input" id="settings-input10">
        <span class="input-label">Zip Code</span>
        <input type="text" placeholder="" value="78730">
      </label>
      <label class="item item-input" id="settings-input11">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="" value="+1 512.493.8791">
      </label>
      <label class="item item-input" id="settings-input12">
        <span class="input-label">Email</span>
        <input type="text" placeholder="" value="blak@paynegroup.com">
      </label>
    </form>
    <h4 id="settings-heading2" style="color:#000000;">Preferred Contact Method</h4>
    <form id="settings-form7" class="list">
      <ion-checkbox id="settings-checkbox1" ng-checked="true">Call me</ion-checkbox>
      <ion-checkbox id="settings-checkbox2" ng-checked="true">Mail me</ion-checkbox>
      <div id="settings-button-bar3" class="button-bar">
        <a ui-sref="d_Menu.home()" id="settings-button22" class="button button-balanced button-block">SAVE</a>
        <a ui-sref="d_Menu.home()" id="settings-button23" class="button button-positive button-block">CANCEL</a>
      </div>
    </form>
  </ion-content>
</ion-view>
